<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <form action="/register" method="POST">
                <label for="name-input" >Nome</label>
                <input type="text" id="name-input" name="name">
                <label for="">Senha</label>
                <input type="password" id="password-input" name="password">
                <button type="submit">cadastrar</button>
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>