<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <form action="/login" method="post">
                <label for="">nome</label>
                <input type="text" name="name" id="input-name">
                <label for="">senha</label>
                <input type="password" name="password" id="password-input">
                <button type="submit">logar</button>
            </form>
            <span id="resultado"></span>
        </div>
    </main>
    <footer></footer>
    <script src="index.js"></script>
</body>
</html>